temp/*
output/*
input/*
__pycache__/*
LOGS/*
!input/Oryza_sativa_Japonica_Group/GENOME/RAP-MSU.txt
!input/Zea_mays/GENOME/genes_to_alias_ids.tsv
.snakemake/*
.vscode/*
fasterq.tmp.*/*
._*
*.fastq
*.transfac
*.tf
*.xlxs
*.gff3
*.log
*.RData
*.RDS
*.Rproj
*.DS_Store
*.png
*.pdf
*.jpeg
*.sif